<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#1A1A1A">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="icons/todo.jpeg">
    <meta property="og:image" content="icons/todo.jpeg">
    <meta property="og:locale" content="en_US">
    <link rel="shortcut icon" href="icons/todo.jpeg">
    <link rel="icon" type="image/png" sizes="196x196" href="icons/todo.jpeg">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="manifest" href="manifest.json">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="TODO">
    <meta property="og:description" content="TODO">
    <meta property="og:url" content="TODO">
    <meta property="og:site_name" content="TODO">
    <meta property="og:image" content="icons/TODO.jpeg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="TODO">
    <meta name="twitter:title" content="woz.sh">
    <meta name="twitter:site" content="@alexkehayias">
    <meta name="twitter:image" content="TODO.jpeg">
    <meta name="twitter:creator" content="@alexkehayias">
    <script src="{{ app_js_path }}"></script>
  </head>
  <body>
    <header>
      <h1>{{ name }}</h1>
    </header>
    <main>
    </main>
    <footer>
      <p>© Woz 2019</p>
    </footer>
    <script>
     wasm_bindgen('{{ wasm_path }}')
       .then(wasm_bindgen.render)
       .catch(console.error);

     if('serviceWorker' in navigator) {
       navigator.serviceWorker.register('{{ sw_js_path }}');
     };
    </script>
  </body>
</html>
