<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
  <meta name="title" content="{% block title %}{% endblock title %}">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <div class="main-container">
    <div class="row" style="margin-bottom: 20px;">
      <div class="grid twelve">
        <a href="/" style="text-decoration: none; color: inherit;">
          <span class="hi">Woz</span>
          <span style="display: inline-block; font-family: menlo; font-size: 14px; padding: 6px 0; font-weight: bold;">WebAssembly Apps</span>
        </a>
        <a href="https://github.com/alexkehayias/woz" class="nav-item">GitHub</a>
      </div>
    </div>
    <main>
      {% block content %}{% endblock content %}
    </main>
  </div>
  <footer>
    <p>© 2020 Alex Kehayias</p>
  </footer>
</body>
